@font-face {
    font-family: "Serial Publicate";
    src: url(/static/fonts/SerialPublicate/Serialpublicationdemo-qxo1.ttf) format("ttf");
}

@font-face {
    font-family: "Algerian";
    src: url(/static/fonts/Algerian/ALGER.TTF) format('ttf');
}

@font-face {
    font-family: "Westhorn";
    src: url(/static/fonts/Westorn/WesthornRegular-w1Rjz.ttf); font-style: normal;
}

@font-face {
    font-family: "Westhorn";
    src: url(/static/fonts/Westorn/WesthornItalic-7B4yV.ttf); font-style: italic;
}

@font-face {
    font-family: "IntrospectC";
    src: url(/static/fonts/IntrospectC/IntrospectC.ttf);
}

:root {
    --navbar-background-color: #8c402b;
    --text-color-navbar: #e7752a;
    --text-color-light: #772a1d;
    --text-color-bright: #f9a953;
    --text-title-light: #b35431;
    --outline-color: #392b24;
    --background-wood-dark: #5d2f22;
    --background-wood-light: #70422e;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
}

body {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    position: fixed;
    background-color: var(--navbar-background-color);
    top: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;     
    justify-content: center;
}

.drop {
    display: flex;
    width: 90%;
    justify-content: center;
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    font-size: 12pt;
    box-sizing: border-box;
    color: var(--text-color-navbar)
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-btn {
    display: none;
}

header a {
    padding: 0em;
    color: brown;
}

h1 {
    font-family: "Algerian", sans-serif;
    font-size: 28pt;
    text-align: center;
    padding: 0em;
    margin: 0em;
}

h2 {
    font-style: italic;
    /* font-family: 'Westhorn', sans-serif; */
    font-size: 20pt;
    text-align: center;
    padding: 1em 0em 1em 0em;
    margin: 0px;
    font-family: 'IntrospectC', sans-serif;
}

h3 {
    text-align: center;
    font-size: 14pt;
    color: var(--text-title-light);
    font-family: Science Gothic, serif;
    /* font-family: 'IntrospectC', sans-serif; */
}

h5 {
    font-size: 14pt;
    margin: 5px;
    padding: 5px;
    font-family: "Science Gothic", sans-serif;
}

a {
    font-family: "Zen Antique", serif;
    text-decoration: none;
    color: brown;
}

p {
    font-family: "Zen Antique", serif;
    margin: 0px;
}

.main_head>h1 {
    padding: 2em 0em 0.5em 0em;
}

.back_btn {
    opacity: 0.9;
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: opacity 0.3s;
}

.back_btn:hover {
    opacity: 1;
}

.back_btn>a>img {
    width: 37.5px;
    height: 37.5px;
}

.info_cont {
    display: block;
    width: 100%;
    text-align: center;
}

.info_about {
    display: inline-block;
    width: 90%;

}

.info_about>p {
    padding: 5px;
    text-align: justify;
}

.projects {
    display: block;
    text-align: center;
    padding-top: 10px;
}

.act_projects {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
    background: #5d2f22;
    /* background: linear-gradient(321deg, #b56a4b 42%, #764223 57%); */
    /* background: radial-gradient(circle, #b6662b 5%, #95511d 16%, #764223 25%); */
}

.pasts_projects {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
    /* background:#f97720; */
    /* background: linear-gradient(360deg, #b56a4b 42%, #764223 57%); */
    background: #70422e;
}

.block-cont {
    display: block;
    text-align: center;
    justify-content: center;
}

.proj_cont {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    gap: 10px 20px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    /* box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5); */
}

.pasts_card {
    display: inline-block;
    width: 350px;
    background:rgb(151, 125, 125);
    border-radius: 1.5em;
    margin: 20px 5px;
    text-align: center;
    padding: 15px;
    border-style: solid;
    border-color: var(--outline-color);
    box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.5);
}

.pasts_card>p {
    text-align: justify;
}

.proj_name {
    display: inline-block;
    width: 90%;
}

.proj_name>p {
    text-align: justify;
    margin: 10px 5px;
}

.proj_info {
    display: inline-block;
    width: 90%;
}

.proj_info>p {
    margin: 15px 5px 10px 5px;
    text-align: justify;
}

.skills {
    display: flex;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(152deg, #55342d 43%, #f58c1b 100%);
    padding-bottom: 1em;
}

.hard_skills {
    display: block;
    width: 45%;
    text-align: center;
}

.hard_skills_lst {
    display: inline-block;
    width: 85%;
    text-align: justify;
    margin: 20px 0px;
}

.hard_skills_lst>p {
    margin: 5px;
    padding: 5px;
}

.hard_skills_lst>h4 {
    margin: 5px;
    padding: 5px;
}

.soft_skills {
    display: block;
    width: 55%;
    text-align: center;
}

.soft_skills_lst {
    display: inline-block;
    width: 85%;
    text-align: justify;
    margin: 20px 0px;
}

.hard-skill {
    margin: 5px 0px;
    border-style: solid;
    border-color: #8c402b;
    border-radius: 10px;
    background:rgb(151, 125, 125);
}

.hard-skill>p {
    margin: 5px;
    padding: 5px;
    color: var(--text-color-bright);
}

.hard-skill>h5 {
    color: var(--text-color-light);
    
}

.soft-skill {
    margin: 5px 0px;
    padding: 5px;
    border-style: solid;
    border-color: #8c402b;
    border-radius: 10px;
    background:rgb(151, 125, 125);
}

.soft-skill>p {
    margin: 5px;
    padding: 5px;
    color: var(--text-color-bright);
}

.soft-skill>h5 {
    color: var(--text-color-light);
}

.contacts {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 2em 0em 0.5em 0em;
}

.contacts_cont {
    display: inline-block;
    width: 90%;
    text-align: justify;
}

.contacts_cont>p {
    margin: 5px;
    padding: 5px;
}

.contacts img {
    width: 45px;
    height: 45px;
}

.contacts-sides {
    display: flex;
    justify-content: space-between;
}

.constacts-left {
    width: 50%;
    gap: 5px;
}

.constacts-right {
    width: 50%;
    gap: 5px;
}


@media (width > 1000px) {
    h1 {
        font-size: 36pt;
    }

    h2 {
        font-size: 24pt;
    }

    h3 {
        font-size: 20pt;
    }

    h5 {
        font-size: 16pt;
    }
}


@media (max-width: 800px) {
    .drop {
        text-align: end;
        justify-content:end;
    }

    .nav-btn {
        display: block;
        font-size: 1.6em;
        padding-left: 10px;
        padding-right: 15px;
        padding-bottom: 3px;
        border: none;
        background-color: var(--text-color-dark);
        color: rgb(235, 10, 10);
        cursor: pointer;
    }

    .nav-list {
        display: none;
        margin-top: 61px;
        transition: right 0.3s;
    }  

    .riseup {
        width: 35%;
    }

    .riseup>a {
        display: none;
    }

    .riseup-logo img {
        display: flex;
        height: 62px;
        width: 165px; 
    }

        .end-logo>img {
        display: none;
    }

    .end-logo>.end-logo-alt>img {
        display: flex;
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(55, 54, 54);
    }
    
    .drop:hover nav {
        display: block;
        position: absolute;
        right: 1px;
        background-color: var(--text-color-dark);
    }

    .navbar {
        justify-content: space-between;
    }
}