@import './base.css';


@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css?family=Science+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


#app {
  margin: 0 auto;
  padding: 0px;
  font-weight: normal;
}

@font-face {
    font-family: "Serial Publicate";
    src: url(/static/fonts/SerialPublicate/Serialpublicationdemo-qxo1.ttf) format("ttf");
}

@font-face {
    font-family: "Algerian";
    src: url(/static/fonts/Algerian/ALGER.TTF) format('ttf');
}

@font-face {
    font-family: "Westhorn";
    src: url(/static/fonts/Westorn/WesthornRegular-w1Rjz.ttf); font-style: normal;
}

@font-face {
    font-family: "Westhorn";
    src: url(/static/fonts/Westorn/WesthornItalic-7B4yV.ttf); font-style: italic;
}

@font-face {
    font-family: "IntrospectC";
    src: url(/static/fonts/IntrospectC/IntrospectC.ttf);
}


@media (hover: hover) {
  a:hover {
    background-color: #e7752a;
    border-radius: 1.5em;
  }
}

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */

